/* PretendardGOV 폰트 정의 */
@font-face {
    font-family: "PretendardGOV";
    src:
      url("../font/PretendardGOV-Regular.woff2") format("woff2"),
      url("../font/PretendardGOV-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "PretendardGOV";
    src:
      url("../font/PretendardGOV-Medium.woff2") format("woff2"),
      url("../font/PretendardGOV-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "PretendardGOV";
    src:
      url("../font/PretendardGOV-Bold.woff2") format("woff2"),
      url("../font/PretendardGOV-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  