/* # =================================================================
   # node_modules/vuetify/lib/styles/main.css의 소스코드 일부를 발췌해서 사용합니다.
   # reset.css와 tailwindcss의 proirity 문제와 필요없는 4~5만줄 분량의 css 코드를 제거하여 사용합니다.
   # ================================================================= */

@keyframes v-shake {
  59% {
    margin-left: 0;
  }
  60%, 80% {
    margin-left: 2px;
  }
  70%, 90% {
    margin-left: -2px;
  }
}



/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~=screen] {
    display: inherit;
  }
  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

@media (prefers-reduced-motion: no-preference) {
  .dialog-transition-enter-active,
  .dialog-bottom-transition-enter-active,
  .dialog-top-transition-enter-active {
    transition-duration: 225ms !important;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1) !important;
  }
  .dialog-transition-leave-active,
  .dialog-bottom-transition-leave-active,
  .dialog-top-transition-leave-active {
    transition-duration: 125ms !important;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1) !important;
  }
  .dialog-transition-enter-active, .dialog-transition-leave-active,
  .dialog-bottom-transition-enter-active,
  .dialog-bottom-transition-leave-active,
  .dialog-top-transition-enter-active,
  .dialog-top-transition-leave-active {
    transition-property: transform, opacity !important;
    pointer-events: none;
  }
  .dialog-transition-enter-from, .dialog-transition-leave-to {
    transform: scale(0.9);
    opacity: 0;
  }
  .dialog-transition-enter-to, .dialog-transition-leave-from {
    opacity: 1;
  }
  .dialog-bottom-transition-enter-from, .dialog-bottom-transition-leave-to {
    transform: translateY(calc(50vh + 50%));
  }
  .dialog-top-transition-enter-from, .dialog-top-transition-leave-to {
    transform: translateY(calc(-50vh - 50%));
  }
  .picker-transition-enter-active,
  .picker-reverse-transition-enter-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .picker-transition-leave-active,
  .picker-reverse-transition-leave-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .picker-transition-move,
  .picker-reverse-transition-move {
    transition-duration: 0.5s !important;
    transition-property: transform !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .picker-transition-enter-from, .picker-transition-leave-to,
  .picker-reverse-transition-enter-from,
  .picker-reverse-transition-leave-to {
    opacity: 0;
  }
  .picker-transition-leave-from, .picker-transition-leave-active, .picker-transition-leave-to,
  .picker-reverse-transition-leave-from,
  .picker-reverse-transition-leave-active,
  .picker-reverse-transition-leave-to {
    position: absolute !important;
  }
  .picker-transition-enter-active, .picker-transition-leave-active,
  .picker-reverse-transition-enter-active,
  .picker-reverse-transition-leave-active {
    transition-property: transform, opacity !important;
  }
  .picker-transition-enter-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .picker-transition-leave-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .picker-transition-move {
    transition-duration: 0.5s !important;
    transition-property: transform !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .picker-transition-enter-from {
    transform: translate(100%, 0);
  }
  .picker-transition-leave-to {
    transform: translate(-100%, 0);
  }
  .picker-reverse-transition-enter-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .picker-reverse-transition-leave-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .picker-reverse-transition-move {
    transition-duration: 0.5s !important;
    transition-property: transform !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .picker-reverse-transition-enter-from {
    transform: translate(-100%, 0);
  }
  .picker-reverse-transition-leave-to {
    transform: translate(100%, 0);
  }
  .expand-transition-enter-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .expand-transition-leave-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .expand-transition-move {
    transition-duration: 0.5s !important;
    transition-property: transform !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .expand-transition-enter-active, .expand-transition-leave-active {
    transition-property: height !important;
  }
  .expand-x-transition-enter-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .expand-x-transition-leave-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .expand-x-transition-move {
    transition-duration: 0.5s !important;
    transition-property: transform !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .expand-x-transition-enter-active, .expand-x-transition-leave-active {
    transition-property: width !important;
  }
  .scale-transition-enter-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .scale-transition-leave-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .scale-transition-move {
    transition-duration: 0.5s !important;
    transition-property: transform !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .scale-transition-leave-to {
    opacity: 0;
  }
  .scale-transition-leave-active {
    transition-duration: 100ms !important;
  }
  .scale-transition-enter-from {
    opacity: 0;
    transform: scale(0);
  }
  .scale-transition-enter-active, .scale-transition-leave-active {
    transition-property: transform, opacity !important;
  }
  .scale-rotate-transition-enter-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .scale-rotate-transition-leave-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .scale-rotate-transition-move {
    transition-duration: 0.5s !important;
    transition-property: transform !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .scale-rotate-transition-leave-to {
    opacity: 0;
  }
  .scale-rotate-transition-leave-active {
    transition-duration: 100ms !important;
  }
  .scale-rotate-transition-enter-from {
    opacity: 0;
    transform: scale(0) rotate(-45deg);
  }
  .scale-rotate-transition-enter-active, .scale-rotate-transition-leave-active {
    transition-property: transform, opacity !important;
  }
  .scale-rotate-reverse-transition-enter-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .scale-rotate-reverse-transition-leave-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .scale-rotate-reverse-transition-move {
    transition-duration: 0.5s !important;
    transition-property: transform !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .scale-rotate-reverse-transition-leave-to {
    opacity: 0;
  }
  .scale-rotate-reverse-transition-leave-active {
    transition-duration: 100ms !important;
  }
  .scale-rotate-reverse-transition-enter-from {
    opacity: 0;
    transform: scale(0) rotate(45deg);
  }
  .scale-rotate-reverse-transition-enter-active, .scale-rotate-reverse-transition-leave-active {
    transition-property: transform, opacity !important;
  }
  .message-transition-enter-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .message-transition-leave-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .message-transition-move {
    transition-duration: 0.5s !important;
    transition-property: transform !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .message-transition-enter-from, .message-transition-leave-to {
    opacity: 0;
    transform: translateY(-15px);
  }
  .message-transition-leave-from, .message-transition-leave-active {
    position: absolute;
  }
  .message-transition-enter-active, .message-transition-leave-active {
    transition-property: transform, opacity !important;
  }
  .slide-y-transition-enter-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .slide-y-transition-leave-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .slide-y-transition-move {
    transition-duration: 0.5s !important;
    transition-property: transform !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .slide-y-transition-enter-from, .slide-y-transition-leave-to {
    opacity: 0;
    transform: translateY(-15px);
  }
  .slide-y-transition-enter-active, .slide-y-transition-leave-active {
    transition-property: transform, opacity !important;
  }
  .slide-y-reverse-transition-enter-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .slide-y-reverse-transition-leave-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .slide-y-reverse-transition-move {
    transition-duration: 0.5s !important;
    transition-property: transform !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .slide-y-reverse-transition-enter-from, .slide-y-reverse-transition-leave-to {
    opacity: 0;
    transform: translateY(15px);
  }
  .slide-y-reverse-transition-enter-active, .slide-y-reverse-transition-leave-active {
    transition-property: transform, opacity !important;
  }
  .scroll-y-transition-enter-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .scroll-y-transition-leave-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .scroll-y-transition-move {
    transition-duration: 0.5s !important;
    transition-property: transform !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .scroll-y-transition-enter-from, .scroll-y-transition-leave-to {
    opacity: 0;
  }
  .scroll-y-transition-enter-from {
    transform: translateY(-15px);
  }
  .scroll-y-transition-leave-to {
    transform: translateY(15px);
  }
  .scroll-y-transition-enter-active, .scroll-y-transition-leave-active {
    transition-property: transform, opacity !important;
  }
  .scroll-y-reverse-transition-enter-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .scroll-y-reverse-transition-leave-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .scroll-y-reverse-transition-move {
    transition-duration: 0.5s !important;
    transition-property: transform !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .scroll-y-reverse-transition-enter-from, .scroll-y-reverse-transition-leave-to {
    opacity: 0;
  }
  .scroll-y-reverse-transition-enter-from {
    transform: translateY(15px);
  }
  .scroll-y-reverse-transition-leave-to {
    transform: translateY(-15px);
  }
  .scroll-y-reverse-transition-enter-active, .scroll-y-reverse-transition-leave-active {
    transition-property: transform, opacity !important;
  }
  .scroll-x-transition-enter-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .scroll-x-transition-leave-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .scroll-x-transition-move {
    transition-duration: 0.5s !important;
    transition-property: transform !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .scroll-x-transition-enter-from, .scroll-x-transition-leave-to {
    opacity: 0;
  }
  .scroll-x-transition-enter-from {
    transform: translateX(-15px);
  }
  .scroll-x-transition-leave-to {
    transform: translateX(15px);
  }
  .scroll-x-transition-enter-active, .scroll-x-transition-leave-active {
    transition-property: transform, opacity !important;
  }
  .scroll-x-reverse-transition-enter-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .scroll-x-reverse-transition-leave-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .scroll-x-reverse-transition-move {
    transition-duration: 0.5s !important;
    transition-property: transform !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .scroll-x-reverse-transition-enter-from, .scroll-x-reverse-transition-leave-to {
    opacity: 0;
  }
  .scroll-x-reverse-transition-enter-from {
    transform: translateX(15px);
  }
  .scroll-x-reverse-transition-leave-to {
    transform: translateX(-15px);
  }
  .scroll-x-reverse-transition-enter-active, .scroll-x-reverse-transition-leave-active {
    transition-property: transform, opacity !important;
  }
  .slide-x-transition-enter-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .slide-x-transition-leave-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .slide-x-transition-move {
    transition-duration: 0.5s !important;
    transition-property: transform !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .slide-x-transition-enter-from, .slide-x-transition-leave-to {
    opacity: 0;
    transform: translateX(-15px);
  }
  .slide-x-transition-enter-active, .slide-x-transition-leave-active {
    transition-property: transform, opacity !important;
  }
  .slide-x-reverse-transition-enter-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .slide-x-reverse-transition-leave-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .slide-x-reverse-transition-move {
    transition-duration: 0.5s !important;
    transition-property: transform !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .slide-x-reverse-transition-enter-from, .slide-x-reverse-transition-leave-to {
    opacity: 0;
    transform: translateX(15px);
  }
  .slide-x-reverse-transition-enter-active, .slide-x-reverse-transition-leave-active {
    transition-property: transform, opacity !important;
  }
  .fade-transition-enter-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .fade-transition-leave-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .fade-transition-move {
    transition-duration: 0.5s !important;
    transition-property: transform !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .fade-transition-enter-from, .fade-transition-leave-to {
    opacity: 0 !important;
  }
  .fade-transition-enter-active, .fade-transition-leave-active {
    transition-property: opacity !important;
  }
  .fab-transition-enter-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .fab-transition-leave-active {
    transition-duration: 0.3s !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .fab-transition-move {
    transition-duration: 0.5s !important;
    transition-property: transform !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
  .fab-transition-enter-from, .fab-transition-leave-to {
    transform: scale(0) rotate(-45deg);
  }
  .fab-transition-enter-active, .fab-transition-leave-active {
    transition-property: transform !important;
  }
}
