// 아래 주소를 참고하여 vuetify 기본 설정값을 변경할 수 있습니다.
// 없는 변수 잘못 적으면 에러 터지니까 주의하세요
// https://vuetifyjs.com/en/features/sass-variables/#variable-api

// @forward 'vuetify/settings' with (
// $toolbar-background: red // Button
// $button-background: red
// --v-theme-primary
// );
